body {
  background-color: #EBE9E6;
}

h1, h2, h3 {
  color: red;
}

.logo-image img {
  float: left;
}

.logo-image logo {
  float: right;
  clear: both;
}

.header {
  background-color: #535657;
}

.services {
  padding-top: 20px;
}
