body {
  background-color: #EBE9E6;
}

h1, h2, h3 {
  color: red;
}

.logo-image img {
  float: left;
  width: 10%;
  height: 10%;
}

.logo-image logo {
  float: right;
  clear: both;
}

.header {
  background: #535657 url("images/background.png") repeat-x;
  height: 15%;
}

.services {
  padding-top: 20px;
}
